@import "~bootstrap/scss/bootstrap.scss";

/* body {
  background: #bdbdbd;
}

youcanwriteyourownstyleshere......oryoucanusetheimportcommandtoincludeothersylesheetsintoyourbundeaswell,e.j: import
  "relative/path/to/stylesheet.scss";
*/

.content {
  background: grey;
  max-width: 300px;
  margin: auto;
  color: white;
}
